/* Base styles for all devices */

html {
  scroll-behavior: smooth;
  background-color: rgba(255, 185, 199, 0.565);
}

.header {
  text-align: center;
  color: rgb(249, 141, 159);
  font-family: sans-serif;
}

footer {
  display: flex;
  margin-top: 2%;
}

.submit {
  background-color: pink;
  border-color: pink;
}

.textarea {
  background: none;
  border-color: pink;
}

.forms {
  text-align: center;
}

.footerName {
  padding: 0;
  font-family: sans-serif;
  color: white;
}

.footerLeft {
  text-align: left;
  padding-left: 10%;
  width: 33.33%;
  border-radius: 16px 0px 0px 16px;
}

.footerMid {
  text-align: center;
  width: 33.33%;
}

.footerRight {
  text-align: right;
  padding-right: 10%;
  border-radius: 0px 16px 16px 0px;
}

.footerLeft,
.footerMid,
.footerRight {
  box-sizing: border-box;
  padding-bottom: 1%;
  background: rgba(255, 182, 194, 0.445);
  margin-bottom: 50px;
  min-height: fit-content;
  width: 33.33%;
  font-family: sans-serif;
  padding-bottom: 20px;
}

hr {
  border-color: pink;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background: #ffb6c271;
  height: 70vh;
}

img {
  max-height: 100%;
  object-fit: cover;
  border-radius: 16px;
  transition: 0.5s;
}

.boomer1 {
  max-width: 75%;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-left: 2.5vw;
}

.boomer2 {
  max-width: 50%;
  max-height: 60vh;
  justify-content: center;
  margin-left: 5vw;
}

img:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.color {
  background-color: pink;
  border-color: pink;
}

@media (max-width: 768px) {
  .footerLeft,
  .footerRight,
  .footerMid {
    width: 100%;
    text-align: center;
    display: block;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .boomer1,
  .boomer2 {
    grid-column: 1 / 2;
  }

  .footerName {
    padding: 0;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  .header {
    font-size: 24px;
  }
}
